aiohttp==3.8.4
aiosignal==1.3.1
anyio==4.0.0
asgiref==3.7.2
asttokens==2.2.1
async-timeout==4.0.2
attrs==23.1.0
autopep8==2.0.2
backcall==0.2.0
beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2022.12.7
charset-normalizer==3.1.0
chatterbot-corpus==1.2.0
colorama==0.4.6
comm==0.1.3
contourpy==1.1.0
cycler==0.11.0
cymem==2.0.7
Cython==3.0.0
debugpy==1.6.7
decorator==5.1.1
dj-database-url==2.1.0
Django==5.0
django-cors-headers==3.14.0
django-environ==0.11.2
django-polymorphic==3.1.0
djangorestframework==3.14.0
docopt==0.6.2
et-xmlfile==1.1.0
exceptiongroup==1.1.3
executing==1.2.0
exrex==0.11.0
fonttools==4.41.1
frozenlist==1.3.3
greenlet==3.0.1
gunicorn==21.2.0
idna==3.4
iniconfig==2.0.0
ipykernel==6.24.0
ipython==8.14.0
iso639==0.1.4
jedi==0.18.2
jupyter_client==8.3.0
jupyter_core==5.3.1
kiwisolver==1.4.4
langdetect==1.0.9
matplotlib==3.7.2
matplotlib-inline==0.1.6
multidict==6.0.4
murmurhash==1.0.9
nest-asyncio==1.5.6
numpy==1.24.2
openai==0.27.6
openpyxl==3.0.10
packaging==23.1
panda==0.3.1
pandas==2.0.0
parso==0.8.3
pickleshare==0.7.5
Pillow==9.5.0
pipreqs==0.4.13
platformdirs==3.9.1
playwright==1.40.0
pluggy==1.3.0
preshed==3.0.8
prompt-toolkit==3.0.39
psutil==5.9.5
psycopg2-binary==2.9.9
pure-eval==0.2.2
pycodestyle==2.10.0
pyee==11.0.1
Pygments==2.15.1
pyparsing==3.0.9
PySocks==1.7.1
pytest==7.4.3
pytest-base-url==2.0.0
pytest-playwright==0.4.3
python-dateutil==2.8.2
python-decouple==3.8
python-slugify==8.0.1
pytz==2023.3
pypiwin32==305
PyYAML==6.0.1
pyzmq==25.1.0
requests==2.28.2
requests-futures==1.0.0
six==1.16.0
sniffio==1.3.0
soupsieve==2.4.1
sqlparse==0.4.3
stack-data==0.6.2
starlette==0.26.1
stem==1.8.1
tabulate==0.9.0
text-unidecode==1.3
tomli==2.0.1
tornado==6.3.2
torrequest==0.1.0
tqdm==4.65.0
traitlets==5.9.0
typing_extensions==4.8.0
tzdata==2022.7
urllib3==1.26.15
utils==1.0.1
wcwidth==0.2.6
yarg==0.1.9
yarl==1.9.2
