{% extends 'layouts/base.html' %}

{% block title %}About{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    
    <p>
        TaskNinja web helps users organize their projects and tasks efficiently. With our platform, you can create projects, assign tasks, set deadlines, and track the progress of your projects in one place.
    </p>
    <p>
        Our intuitive interface lets you see all your tasks in one place, allowing you to easily prioritize and focus on what's most important. You can also collaborate with other members of your team or share your projects with clients, making communication and collaboration easier.
    </p>
    <p>
        In addition, our tool has a number of advanced features, such as a reminder system, a task calendar, and drag-and-drop functionality to make managing your projects easier. With our platform, you will be able to increase your productivity and achieve your goals faster and more efficiently.
    </p>
    <p>
        In short, our tool is the best option for those looking for an easy and efficient way to organize their projects and tasks, increasing their productivity and reaching their goals faster and more efficiently. Give us a try today and experience the difference!
    </p>
    <p>
        Thanks to ChatGPT, GitHub Copilot, and StackOverflow for the help.
    </p>
    <p>
        Developed with ❤ by <a href="https://linktr.ee/adrianbnitez" target="_blank">Adrián Benítez</a> in València.
    </p>

    <p>
        Version pre-alpha 0.0.5 - 20/02/2023
    </p>

    <div class="changelog label-box">
        <h2>Changelog</h2>
        <div>
            <h3>Version 0.0.5</h3>
            <ul>
                <li><span class="bg-violet">Improvements </span>in the design of projects views and tasks views</li>
            </ul>
            <h3>Version 0.0.4</h3>
            <ul>
                <li><span class="bg-green">New</span> a Teams (beta)</li>
                <li><span class="bg-violet">Improvements </span>in the documentation of the API REST</li>
                <li><span class="bg-yellow">Fixes</span> in API REST actions</li>
            </ul>
        </div>
        <div>
            <h3>Version 0.0.3</h3>
            <ul>
                <li><span class="bg-green">New</span> a account actions (delete, change password)</li>
                <li><span class="bg-green">New</span> a API REST</li>
            </ul>
        </div>
        <div>
            <h3>Version 0.0.2</h3>
            <ul>
                <li><span class="bg-green">New</span> Projects management</li>
                <li><span class="bg-violet">Improvements </span>in the design of views tasks</li>
            </ul>
        </div>
        <div>
            <h3>Version 0.0.1</h3>
            <ul>
                <li>Initial release</li>
                <li><span class="bg-green">New</span> a authentication system</li>
                <li><span class="bg-green">New</span>Tasks management</li>
            </ul>
        </div>
    </div>

{% endblock %}